* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

@font-face {
  font-family: "Norse Bold";
  src: url(assets/Norse-Bold.otf);
}

/* Side banner */
.side {
  background-image: url("assets/halie-west-25xggax4bSA-unsplash.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 33vw;
  height: 100vh;
  color: white;
  position: relative;
}

.logo {
  background-color: rgba(0, 0, 0, 0.4);
  position: absolute;
  top: 20vh;
  width: inherit;
  padding: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo img {
  height: 125px;
}

.logo-name {
  font-family: "Norse Bold";
  font-size: 100px;
}

.credits {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  margin-bottom: 1vh;
}

/* Form side */
.container {
  display: flex;
  align-items: center;
  background-color: #f9fafb;
}

.form-side {
  width: 67vw;
  max-width: 80%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.top-text {
  font-size: 1.4rem;
  font-weight: bold;
  padding-left: 3rem;
  max-width: 80%;
  }

.top-text div {
  padding-bottom: 1.4rem;
}

.form-body {
  box-shadow: 0 5px 5px 4px rgba(0, 0, 0, 0.1);
  padding-top: 24px;
  padding-bottom: 32px;
}

.form-fields,
h3 {
  padding-left: 3rem;
}

h3 {
  padding-bottom: 18px;
}

.form-fields {
  font-size: 0.7rem;
  letter-spacing: 0.1rem;  
}

.form-fields label {
  display: block;
}

.form-fields input {
  border: 1px solid #e5e7eb;
  border-radius: 4px;
  padding: 4px 8px;
}

input:focus {
  outline: none;
  border: 1px solid blue;
  box-shadow: 1px 3px 3px 2px rgba(0, 0, 0, 0.1);
}

.name,
.email-tel,
.pass {
  display: flex;
  flex-wrap: wrap;
  column-gap: 84px;
  row-gap: 18px;
  margin-bottom: 18px;
}

.create-account {
  padding-left: 3rem;
}

.create-account button {
  background-color: #596D48;
  color: white;
  font-size: 1.2rem;
  font-weight: 700;
  padding: 12px 48px;
  box-shadow: 2px 5px 5px 4px rgba(0, 0, 0, 0.1);
  border: none;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 32px;
}

.create-account div {
  margin-top: 32px;
}

.create-account a {
  color: #596D48;
  font-weight: bold;
  text-decoration: none;
}